$color-primary-light: hsl(180, 66%, 49%);
$color-primary-dark: hsl(257, 27%, 26%);
$color-secondary: hsl(0, 87%, 67%);
$color-neutral-grey: hsl(0, 0%, 75%);
$color-neutral-greyish: hsl(257, 7%, 63%);
$color-neutral-dark-blue: hsl(255, 11%, 22%);
$color-neutral-dark-violet: hsl(260, 8%, 14%);

$font-primary: 1.8rem;
